.square{
color:white;
background:black;
height:20px;
width:20px;
text-align:center;
font-size:120%;
position:relative;
left:375px;
z-index:3
}
.second{
position:relative;
left:400px;
top:-39px;
z-index:3
}
.third{
position:relative;
left:425px;
top:-78px;
z-index:3
}
.big-square{
height:25px;
width:750px;
border:1px black solid;
position:relative;
left:375px;
top:-100px;
z-index:1;
border-style:none;
}
.empty-square{
height:30px;
width:70px;
border:1px black solid;
}
.empty-square1{
position:relative;
left:465px;
top:-132px;
z-index:3;
border-style:none;
}
.sport
{
position:relative;
left:537px;
top:-154px;
z-index:3;
text-align:center;
font-weight:bold;
border-style:none;

}
.weather
{
position:relative;
left:609px;
top:-183px;
z-index:3;
text-align:center;
font-weight:bold;
border-style:none;

}
.tv
{
position:relative;
left:681px;
top:-213px;
z-index:3;
text-align:center;
font-weight:bold;
border-style:none;

}
.more
{
height:30px;
width:100px;
border:1px black solid;
position:relative;
left:753px;
top:-248;
z-index:3;
text-align:left;
font-weight:bold;
border-style:none;
margin:5px;
}

input{
height:29px;
width:200px;

position:relative;
left:855px;
top:-305;
z-index:3;
text-align:left;
border-style:none;
margin:3px;
}
.sign{
height:27px;
width:70px;
position:relative;
left:1055px;
top:-340;
z-index:3;
text-align:center;
font-weight:bold;
padding-bottom:-10px;
border-style:none;

}
#red-box{
background:#BB1919;
width:1550px;
height:100px;
position:relative;
top:-350px;
z-index:1;
}
.red-box-small{
background:#A91717;
width:1550px;
height:40px;
position:relative;
top:-390px;
z-index:2;
}
.empty-red-square{
height:30px;
width:70px;
border:1px white ;
border-style:none solid;
font-weight:bold;
text-align:center;


}

.home{
position:relative;
left:380px;
top:-420;
z-index:3;



}
.uk{
position:relative;
left:450px;
top:-450;
z-index:3;
}
.world{
position:relative;
left:522px;
top:-480;
z-index:3;

}
.business{
position:relative;
left:594px;
top:-510;
z-index:3;
}
.politics{
position:relative;
left:666px;
top:-540;
z-index:3;
}
.tech{
position:relative;
left:738px;
top:-570;
z-index:3;
}
.science{
position:relative;
left:810px;
top:-600;
z-index:3;
}
.health{
position:relative;
left:882px;
top:-630;
z-index:3;
}
.education{
position:relative;
left:954px;
top:-660;
z-index:3;
}
.moree{
height:30px;
width:100px;
border:1px white ;
border-style:none solid;
font-weight:bold;
position:relative;
left:1026px;
top:-690;
z-index:3;
text-align:left
}
select{
width:50px;
float:right;
}

.technology{
position:relative;
left:375px;
top:-710px;
text-decoration:underline;
text-decoration-color:red;
font-size:150%

}
.headline{
position:relative;
left:375px;
top:-710px;
font-size:200%;
font-weight:bold
}
.news-article{
width:300px;
height:300px;
position:relative;
left:375px;
top:-710px;
}
.news-article2{
width:300px;
height:300px;
position:relative;
left:375px;
top:-925px;
}
.news-article3{
width:300px;
height:300px;
position:relative;
left:375px;
top:-1200px;
}
img{height:500px;
width:500px;
position:relative;
left:300px;
top:-50px

}
iframe{
width:300px;
height:315px;
position:relative;
left:1200px;
top:-1600px

}
body{margin:0;padding:0}
a{text-decoration:none}
a:hover{text-decoration:underline;color:green}